@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
body {


    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
    color: #315170;
    background-color: #4d4d4e
    

}

/*---navbar scrolling offest*/
.offset:before {
height: 4rem;
margin-top:-4rem;
content:"";
display:block;

}
/*--extra bootstrap column padding --*/
[class*="col-"]{
padding: 1 rem;

}

img.roun{

   width:3rem;
   
}
img.roun2{

    width:8rem;
}

