@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
body {


    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
    color: #315170;
    background-color: #4d4d4e
    

}

/*---navbar scrolling offest*/
.offset:before {
height: 4rem;
margin-top:-4rem;
content:"";
display:block;

}
/*--extra bootstrap column padding --*/
[class*="col-"]{
padding: 1rem;

}
.navbar {

    padding: 0rem 0rem;
    font-size: 1.25rem;
    background:rgba(139, 139, 139, .6)!important;
    transition:background-color .5s ease 0s;
   
}
.svg-inline--fa.fa-w-14{
    color:white;
    font-size:1.4rem;
}
.navbar-nav li{

    padding-right:1.7rem;
}
.navbar-nav .nav-link {

    color:rgb(152, 219, 27);
    padding-top:.5rem;
}
.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover{
    color:rgb(79, 178, 243)
}
.navbar.solid{

    background:rgba(139, 139, 139, 0.4)!important;
    transition: background-color 1s ease 0s;
}

img.roun{

   width:5rem;
   
}
img.roun2{

    width:12rem;
}

